/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  background: #dbd9c8;
}

a,
a:visited {
  color: #529900;
  text-decoration: none;
}


hr {
  margin-top: 0.5 * $spacing-unit;
  margin-bottom: $spacing-unit;
}

.mdl-layout__header {
  background: $header-color;

  .mdl-layout__title {
    color: white;
  }
}
.mdl-mini-footer {
  background: $header-color-light;
}

.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

.portfolio-header {
  position: relative;

  height: 25vh;
  max-height: 300px;
  flex-shrink: 0;

  background-image: url(green-banner.jpg);
  background-size: cover;
  background-position: center;

  &:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.5);
  }
}

.avatar {
  border-radius: 50%;
  margin-right: 5px;
}

.centered-content {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto auto auto;
  padding: 0;
}

.page-heading {
  font-size: 20px;
  font-weight: 400;
}

.project-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: 0 !important; // Look away!

  .mdl-card__title {
    color: inherit;
  }
  .mdl-card {
    margin-right: 0.5 * $spacing-unit;
    margin-bottom: 0.5 * $spacing-unit;
    background: darken($background-color, 10%);
  }
  .mdl-card__media {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 0.5 * $spacing-unit;

    background: darken($background-color, 20%);

    > img {
      max-height: 100%;
    }
  }
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  h2 {
    margin: 0;
  }
}
.post-link {
  display: block;
  font-size: 24px;
}

.post-navigation {
  margin-top: 2 * $spacing-unit;
  display: flex;
  justify-content: space-between;
}

.mdl-mini-footer {
  display: block;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}
.footer-links {
  display: flex;
  align-items: center;

  @include media-query($on-palm) {
    > p {
      display: none;
    }
  }

  > * {
    flex-basis: 100%;
  }
  > p {
    text-align: right;
    margin: 0;
  }
}

.mdl-cell--right > p {
  text-align: right;
}

.rss-subscribe {
  float: right;
}

.social-media-list {
  text-align: center;

  > li {
    display: inline-block;
    margin: 0 10px;
  }
  .icon > svg {
    width: 48px;
    height: 48px;
  }
}