---
layout: default
---

<div class="portfolio-header"></div>
<div class="home post centered-content">

  <div class="content-card mdl-card">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Hi! I'm Kevin!</h1>
    </div>
    <p class="mdl-card__supporting-text">
      I've spent a decade developing  web applications and leading engineering teams. I have a detailed understanding of JavaScript and relevant architectures for both Node.js and browser environments. I am also passionate about improving developer productivity and code quality, having served as developer advocate and mentor for my teams within numerous organizations.
    </p>
    <div class="mdl-card__actions">
      </a>
      <a href="/blog" class="mdl-button mdl-button--colored">
        Blog
      </a>
      <a href="mailto:kpdecker@gmail.com" class="mdl-button mdl-button--colored">
        Contact Me
      </a>
    </div>
  </div>

  <div class="content-card mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Projects</h2>
    </div>
    <div>
      <ul class="project-list">
      {% for project in site.data.projects %}
        {% assign redirect = project.href %}
        {% assign url = project.path | relative_url %}

        <li>
          <a href="{{ redirect | default: url }}" class="mdl-card">
            <div class="mdl-card__title">
              <span class="mdl-card__title-text">{{ project.title | escape }}</span>
            </div>
            <div class="mdl-card__media">
              <img src="{{ site.url }}/{{ project.logo }}">
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
