---
layout: default
---

<div class="portfolio-header"></div>
<div class="post centered-content">
  <h2>About</h2>

  <p>
  Hi!
  Bacon ipsum dolor amet filet mignon biltong bacon meatball. Turducken andouille cupim biltong shoulder ball tip, ribeye porchetta spare ribs chuck bresaola kevin frankfurter. Pancetta pork meatloaf short loin, chuck turkey beef ribs spare ribs t-bone brisket landjaeger porchetta chicken cupim corned beef. Turkey pastrami salami prosciutto ham beef ribs andouille pork chop.
  </p>

  <p>
  Cupim ground round ham cow bresaola andouille sausage brisket rump pig beef ribs. Turducken alcatra ham hock pork bacon boudin picanha salami flank, tenderloin kevin sausage. Turducken meatball andouille porchetta biltong turkey pig frankfurter tri-tip cupim cow ball tip. Pork chop porchetta biltong, cow leberkas pig chicken sausage cupim salami short loin. Pork loin tenderloin tongue, tail prosciutto ribeye bacon biltong pastrami.
  </p>

  <h2>Latest Post</h2>
  {% assign post = site.posts | first %}
  {% include blog-exerpt.html %}

  <h2>Projects</h2>
  <ul class="project-list">
  {% for project in site.data.projects %}
    {% assign redirect = project.href %}
    {% assign url = project.path | relative_url %}

    <li>
      <a href="{{ redirect | default: url }}" class="mdl-card">
        <div class="mdl-card__title">
          <span class="mdl-card__title-text">{{ project.title | escape }}</span>
        </div>
        <div class="mdl-card__media">
          <img src="{{ site.url }}/{{ project.logo }}">
        </div>
        <div class="mdl-card__actions">
          <div class="mdl-button mdl-button--colored">
            More Info
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
